<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tokyo.kaisei.dao.after.UsersMapper">
    <resultMap id="BaseResultMap" type="tokyo.kaisei.bean.Users">
        <result column="u_id" jdbcType="INTEGER" property="uId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
<!--        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />-->
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
<!--        <result column="invalid" jdbcType="BIT" property="invalid" />-->
        <result column="post_code" jdbcType="VARCHAR" property="postCode" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="auth" jdbcType="INTEGER" property="auth" />
    </resultMap>
    
    <select id="findUserByUsername" parameterType="String" resultType="tokyo.kaisei.bean.Users">
        select * from users where username=#{username};
    </select>
    
    <select id="findUserByUsernamePassword" parameterType="String" resultType="tokyo.kaisei.bean.Users">
        select * from users where username=#{username} and password=#{password};
    </select>
    
    
</mapper>
